* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px;
    background-color: rgb(174, 36, 192);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 41%;
    height: 58%;
    background-color: cornsilk;
    border-radius: 7px;
    margin-top: 50px;
}

.item1 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px violet, 0 0 0 6px white;
    margin: -60px;
    overflow: hidden;


}

img {
    width: 120px;
    height: 120px;
}

i {
    font-size: 16px;
    padding: 6px;
}

.item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.1em;
    font-size: 2rem;
    color: rgb(146, 138, 146);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 0.1px solid rgb(231, 224, 224);
    margin-top: 60px;

}
.item3{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    color: rgb(189, 182, 182);
}
.picture{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.picture-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid;

}
.picture-item > img{
    width: 40px;
    height: 40px;
}
.item5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.sprite>img{
    height: 40px;
    width: 40px;
    
}